<template>
	<q-layout view="lHh Lpr lFf">
		<q-header elevated>
			<q-toolbar>
				<q-btn
					flat
					dense
					round
					icon="menu"
					aria-label="Menu"
					@click="toggleLeftDrawer"
				/>

				<q-toolbar-title> User Management System </q-toolbar-title>

				<div>v0.1.beta</div>
			</q-toolbar>
		</q-header>

		<q-drawer
			dark
			v-model="leftDrawerOpen"
			show-if-above
			bordered
			class="my-drawer-bg"
		>
			<q-list>
				<q-item-label header> Essential Links </q-item-label>

				<EssentialLink
					v-for="link in essentialLinks"
					:key="link.title"
					v-bind="link"
				/>
			</q-list>
		</q-drawer>

		<q-page-container>
			<router-view />
		</q-page-container>
	</q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";

const linksList = [
	{
		title: "USER FORM",
		icon: "ti-layout-accordion-list",
		route_name: "user-form",
	},
	{
		title: "LIST OF USERS",
		icon: "ti-user",
		route_name: "user-list",
	},
];

export default defineComponent({
	name: "MainLayout",

	components: {
		EssentialLink,
	},

	setup() {
		const leftDrawerOpen = ref(false);

		return {
			essentialLinks: linksList,
			leftDrawerOpen,
			toggleLeftDrawer() {
				leftDrawerOpen.value = !leftDrawerOpen.value;
			},
		};
	},
});
</script>

<style>
.my-drawer-bg {
	background-color: #414141;
}
</style>
